<!DOCTYPE html>
<html>
<head>
  <title>Entente</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <% if flash[:errors] %>
    <div class="login-signup">
      <div class="alert alert-danger">
        <strong>Oh snap!</strong><br />
        <%= render "layouts/errors" %>
      </div>
    </div>
  <% end %>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER = <%= "{id: #{current_user.id}}".html_safe %>;
    </script>
  <% end %>
  <%= yield %>
  <script type="text/javascript">
    if (document.getElementById('returning')) {
      document.getElementById('returning').addEventListener('click', function(){
        document.getElementById('hiddenlogin').style.display = 'block';
      });
    }
  </script>
  <%= javascript_include_tag 'application' %>

</body>
</html>
