<!DOCTYPE html>
<html>
<head>
  <title>Entente</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,600' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render "layouts/errors" %>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER = <%= "{id: #{current_user.id}}".html_safe %>;
    </script>
  <% end %>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
