<!DOCTYPE html>
<html>
<head>
  <title>Entente</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
  </script>
</head>
<body>
  <%= render "layouts/errors" %>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER = <%= "{id: #{current_user.id}}".html_safe %>;
    </script>
  <% end %>
  <!-- // <script type="text/javascript"> -->
  <!-- //   var randNum = Math.floor(Math.random() * 10) + 1;
  //   var images = [];
  //   images[1] = "<%= image_path('franklin_trees_01.jpg') %>";
  //   var setBackground = function () {
  //     document.body.style.backgroundImage = "url(" + images[1] + ")";
  //   }
  //   window.setInterval(setBackground, 10000);
  //   setBackground();
  //   // document.write('<div class="bgImage" style="background-image: url(' + image + ');">')
  // </script> -->
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
