<!DOCTYPE html>
<html>
<head>
  <title>Entente</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<%= render "layouts/errors" %>
  <!-- <script type="text/javascript">
    var randNum = Math.floor(Math.random() * 10) + 1;
    var images = [];
    images[1] = "<%= image_path('franklin_trees_01.jpg') %>";
    var setBackground = function () {
      document.body.style.backgroundImage = "url(" + images[1] + ")";
    }
    window.setInterval(setBackground, 10000);
    setBackground();
    // document.write('<div class="bgImage" style="background-image: url(' + image + ');">')
  </script> -->
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
