<!DOCTYPE html>
<html>
<head>
  <title>Entente</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/errors" %>
<%= yield %>
<%= javascript_include_tag 'application' %>

</body>
</html>
