<!DOCTYPE html>
<html>
<head>
  <title>Entente</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <%= render "layouts/errors" %>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER = <%= "{id: #{current_user.id}}".html_safe %>;
    </script>
  <% end %>
  <%= yield %>
  <script type="text/javascript">
    document.getElementById('returning').addEventListener('click', function(){
      document.getElementById('hiddenlogin').style.display = 'block';
    });

    // window.onload = function() {
    //   var i = 0;
    //   var bgs = ['red', 'blue', 'green'];
    //   setInterval(function() {
    //       document.body.style.backgroundColor = bgs[i];
    //       i = (i + 1) % bgs.length;
    //   }, 2000);
    // };

  </script>
  <%= javascript_include_tag 'application' %>

</body>
</html>
